*{
	padding:0; margin: 0; box-sizing: border-box;
}
header{
	width: 100%
	height:100vh;
	position: relative;
}
nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
}
.logo{
	font-size: 50px;
	font-family: 'Caveat', cursive;
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
	color:#17A589;
	font-family: 'Caveat', cursive;
}
.menu a{
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
	color:#48C9B0;
	background-color: white;
	border-radius: 8px;
	letter-spacing: 2px;
	margin-top: 30px;
	font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
}
.box{
	width:780px;
	height:680px;
	position: absolute;
	margin-left:42%;
	top:0;
	margin-right:10px;
	background: #48C9B0;
	z-index: -2;
}
.information{
	max-width: 1200px;
	position: absolute;
	top:250px;
	left:10%;
}
.information h1{
	font-size: 30px;
	color:#48C9B0;
	font-family: 'Marck Script', cursive;
}  
.information p{
	font-size: 20px;
	margin-bottom: 30px;
	color: black;
	text-decoration: none;
	font-family: 'Acme', sans-serif;
	font-family: 'Caveat', cursive;
	font-family: 'Marck Script', cursive;
}
