*{
	padding:0; margin: 0; box-sizing: border-box;
}
header{
	width: 100%
	height:100vh;
	position: relative;
}
nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
}
.logo{
	font-size: 50px;
	font-family: 'Caveat', cursive;
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
	color:#17A589;
	font-family: 'Caveat', cursive;
}
.menu a{
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
	color: white;
	background-color: #48C9B0;
	border-radius: 8px;
	letter-spacing: 2px;
	margin-top: 30px;
	font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
}
.h-text{
	max-width: 500px;
	position: absolute;
	top:250px;
	left:10%;
}
.h-text h1{
	font-size: 30px;
	color:#48C9B0;
	font-family: 'Marck Script', cursive;
}
.h-text p{
	font-size: 20px;
	margin-bottom: 30px;
	color: #48C9B0;
	text-decoration: none;
	font-family: 'Acme', sans-serif;
	font-family: 'Caveat', cursive;
	font-family: 'Marck Script', cursive;
}
.h-text a{
	text-decoration: none;
	background: #48C9B0;
	color:white;
	font-size: 20px;
	font-family: 'Caveat', cursive;
	font-family: 'Marck Script', cursive;
	border-radius: 8px;
	letter-spacing: 2px;
	padding: 10px 20px;
}
.icon{
	position: fixed;
	top: 45%;
	left:20px;
	transform: translate(-50%);
	display: flex;
	flex-direction: column;
}
.icon i{
	color:white;
	padding: 15px;
	font-size: 20px;
	margin: 5px 5px;
	background: #48C9B0;
	border-radius: 5px;
	border-color: black;
}
.icon i:hover{
	background: transparent;
	transition: 0.7s;
	border: 2px solid black;
	color:black;
}
.box{
	width:780px;
	height:680px;
	position: absolute;
	margin-left:42%;
	top:0;
	margin-right:10px;
	background: #48C9B0;
	z-index: -2;
}
#namu{
	width:450px ;
	height:600px;
	position: absolute;
	margin-left: 54%;
	top:50px;
	z-index: -1;
}